<div id="container" [hidden]="!(!showSettings && !showEnd)">
	<div id="top-panel-container">
		<app-top-panel (onGoBack)="onGoBack.emit()"></app-top-panel>
	</div>

	<div id="stats-container">
		<i id="flame" class="fas fa-fire">     {{ streak }}</i>
		<i id="counter" class="fas fa-atlas">     {{ index }}/{{ words.length }}</i>
		<i id="score" class="fas fa-star">     {{ this.words[this.index].scores[Mode.DrawCharacters] }}</i>
		<i id="lives" class="fas fa-heart">     {{ lives }}</i>
	</div>
	<div id="canvas-container">
		<p id="correct">{{ this.words[this.index].correct }}</p>
		<p id="phonetic" [style.visibility]="(localStorage.getItem('showPhonetic') != 'false' && !isFlipped) ? 'visible' : 'hidden'">{{ this.words[this.index].phonetic }}</p>
		<canvas id="canvas" width="200" height="200"></canvas>
		<canvas id="testingCanvas" width="200" height="200" hidden></canvas> <!-- hidden canvas for checking-->

		<div id="button-container">
			<i class="fa fa-eraser" (click)="resetCanvas()"></i>
			<i class="fa fa-check" (click)="checkDrawing()"></i>
			<i class="fa fa-headphones" (click)="SpeechUtils.speak(this.words[this.index].question)"></i>
		</div>
	</div>
</div>

<app-game-settings *ngIf="showSettings" [words]="words" (onGoBack)="showSettings = false"></app-game-settings>
<app-end-screen *ngIf="showEnd" [score]="score" [words]="words" [wrong]="wrong" [correctCount]="correctAnswers"
                [highScore]="highScore" (onGoBack)="onGoBack.emit()" (onReplayAll)="replayAll()" (onReplayWrong)="replayWrong()"></app-end-screen>