<div class="container" *ngIf="!showEnd && !showSettings">
	<div id="top-panel-container">
		<app-top-panel (onGoBack)="onGoBack.emit()" (settingsEmitter)="showSettings = !showSettings"></app-top-panel>
	</div>

	<div id="stats-container">
		<i id="flame" class="fas fa-fire">     {{ streak }}</i>
		<i id="counter" class="fas fa-atlas">     {{ index + 1 }}/{{ words.length }}</i>
		<i id="score" class="fas fa-star">     {{ score }}</i>
		<i id="lives" class="fas fa-heart">     {{ lives }}</i>
	</div>

	<div class="buttons">
		<div id="question">
			<button (click)="speakQuestion()">{{ words[index].question }}</button>
		</div>
		<p id="phonetic" [style.visibility]="(localStorage.getItem('showPhonetic') != 'false' && !isFlipped) ? 'visible' : 'hidden'">{{  words[index].phonetic }}</p>
		<button [ngStyle]="{'background-color': buttonColors[0]}" (dblclick)="checkAnswer(0)" (click)="SpeechUtils.speak(words[index].answers[0], !isFlipped)"> {{ words[index].answers[0] }}</button>
		<button [ngStyle]="{'background-color': buttonColors[1]}" (dblclick)="checkAnswer(1)" (click)="SpeechUtils.speak(words[index].answers[1], !isFlipped)">{{ words[index].answers[1] }}</button>
		<button [ngStyle]="{'background-color': buttonColors[2]}" (dblclick)="checkAnswer(2)" (click)="SpeechUtils.speak(words[index].answers[2], !isFlipped)">{{ words[index].answers[2] }}</button>
	</div>
</div>

<app-game-settings *ngIf="showSettings" [words]="words" (onGoBack)="showSettings = false"></app-game-settings>
<app-end-screen *ngIf="showEnd" [score]="score" [words]="words" [wrong]="wrong" [correctCount]="correctAnswers"
                [highScore]="highScore" (onGoBack)="onGoBack.emit()" (onReplayAll)="replayAll()" (onReplayWrong)="replayWrong()"></app-end-screen>

