.buttons {
    text-align: center;
    padding: 40px;
}

.buttons button {
    margin: 10px;
    background-color: var(--soft-ivory);
    color: var(--muted-teal);
    cursor: pointer;
    height: 20%;
    min-width: 100px;
    min-height: 50px;
    font-size: clamp(14px, 2vw, 20px);
    width: max-content !important;
    border: 2px solid var(--muted-teal);
}

.buttons button:hover {
    background-color: var(--pastel-mint);
}

#question button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    color: var(--soft-ivory);
    font-size: clamp(34px, 6vw, 52px);
}

#question button:hover {
    background-color: var(--medium-mint);
}

.top-panel {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

i {
    color: var(--soft-ivory);
    font-size: clamp(20px, 2vw, 28px);
}

.top-buttons button {
    width: 50px;
    height: 50px;
    background-color: var(--medium-mint);
    border: none;
}

#phonetic {
    font-size: clamp(14px, 2vw, 20px);
    color: var(--soft-ivory);
}

#lives, #flame {
    color: var(--soft-ivory);
}

.back-button {
    border: none;
    width: 50px;
    height: 50px;
    background-color: var(--medium-mint);
}

#stats-container {
    margin-top: 10%;
    display: flex;
    justify-content: center;
}

#heart-container {
    margin-left: 10%;
}

#bottom-panel {
    border: 2px solid pink;
    height: 2%;
}

#counter, #score, #lives {
    margin-left: 8%;
}
