<div id="container">
    <div class="language-grid">
        <button
            *ngFor="let lang of languages"
            [class.selected]="lang === selectedLanguage"
            (click)="selectLanguage(lang)"
            class="language-button">
            <span class="flag fi fi-{{lang.alpha2.toLowerCase()}}"></span>
            <strong class="language-label">{{ lang.name }}</strong>
        </button>
    </div>

    <div id="bottom-panel">
        <button (click)="goNext()">Continue</button>
    </div>
</div>
