<div id="container" class="main-layout">

    <div class="side-panel">

        <button class="button-with-icon" #textButton (click)="showText()">
            <i class="fa-solid fa-pen-nib"></i>
            <span>Write</span>
        </button>

        <button class="button-with-icon" #relevantButton (click)="showRelevant()">
            <i class="fa-solid fa-clipboard-list"></i>
            <span>Select</span>
        </button>

        <button class="button-with-icon" #summaryButton (click)="showTable()">
            <i class="fa solid fa-magnifying-glass"></i>
            <span>Preview</span>
        </button>
    </div>

    <app-vocabulary-text-input *ngIf="selectedCategory == Category.TEXT">

    </app-vocabulary-text-input>
    <div>
        <div class="filter" *ngIf="selectedCategory == Category.RELEVANT">
            <label for="filter">Filter: </label>
            <input (input)="onFilterChange()" id="filter" type="text" [formControl]="filter" style="width: 128px">
        </div>

        <div class="filter" *ngIf="selectedCategory == Category.SUMMARY">
            <label for="filter">Filter: </label>
            <input (input)="onWordsFilterChange()" id="wordsFilter" type="text" [formControl]="wordsFilter" style="width: 128px">
        </div>

        <div class="relevant-vocabulary" *ngIf="selectedCategory == Category.RELEVANT">
            <table>
                <tr>
                    <th>First</th>
                    <th>Phonetic</th>
                    <th>Second</th>
                    <th>Action</th>
                </tr>
                <tr *ngFor="let word of filteredRelevantWords">
                    <td>{{ word.question }}</td>
                    <td>{{ word.phonetic }}</td>
                    <td>{{ word.correct }}</td>
                    <td><button (click)="addWord(word)">Add</button></td>
                </tr>
            </table>
        </div>

        <div class="table-container" *ngIf="selectedCategory == Category.SUMMARY">
            <table>
                <tr>
                    <th>First</th>
                    <th>Phonetic</th>
                    <th>Second</th>
                    <th>Action</th>
                </tr>
                <tr *ngFor="let word of filteredWords">
                    <td>{{ word.question }}</td>
                    <td>{{ word.phonetic }}</td>
                    <td>{{ word.correct }}</td>
                    <td><button (click)="removeWord(word)" style="background-color: #ea6161">Remove</button></td>
                </tr>
            </table>
        </div>

        <div id="bottom-panel">
            <i class="fas fa-arrow-left" (click)="onGoBack.emit()"></i>
            <i class="fas fa-arrow-right" (click)="console.log('XD')"></i>
        </div>
    </div>

</div>
