table {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
}

th {
    padding: 5px;
    text-align: center;
    color: var(--soft-ivory);
}

td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    color: var(--soft-ivory);
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: var(--pastel-mint);
}

.relevant-vocabulary, .table-container{
    overflow: scroll;
    height: 400px;
}

#bottom-buttons {
    display: flex;
    justify-content: space-between;
}


p {
    font-weight: bold;
}

.main-layout {
    display: flex;
    flex-direction: row;
}

.side-panel {
    background-color: var(--medium-mint);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 10px;
    gap: 10px;
    border-right: 2px solid var(--muted-teal);
}

.side-panel button:hover {
    background-color: var(--muted-teal);
    color: white;
}

.button-with-icon {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px 12px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: var(--muted-teal);
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease;
    width: 100%;
    justify-content: flex-start;
}

.button-with-icon i {
    width: 24px;
    text-align: center;
    font-size: 18px;
}

.button-with-icon:hover {
    background-color: #0056b3;
}
