<app-base></app-base>

<div id="container">
	<p class="header">Your sets</p>
	<input type="input">
	<div class="set-container" *ngFor="let set of sets">
		<a class="set-link" routerLink="/vocab/{{ set.url }}">
			{{ set.first_flag }} {{ set.second_flag }} {{ set.name }}
		</a>
		<div *ngIf="urlToDelete == set.url">
			<div class="button-group">
				<button class="delete-yes" (click)="onYesButtonClick()">Yes</button>
				<button class="delete-no" (click)="onNoButtonClick()">No</button>
			</div>
		</div>
		<div *ngIf="urlToDelete != set.url">
			<div class="button-group">
				<i class="fa fa-pen-to-square edit-button" (click)="onEditButtonClick(set.url)"></i>
				<i class="fa fa-trash-can delete-button" (click)="onDeleteButtonClick(set.url)"></i>
			</div>
		</div>
	</div>
</div>

