<app-base></app-base>

<div id="container">
	<p id="header">Collection</p>
	<input type="text" (input)="onFilterChange($event)">
	<div class="set-container" *ngFor="let set of filteredSets">
		<a class="set-link" routerLink="/vocab/{{ set.url }}">
			{{ set.firstLanguage }} {{ set.secondLanguage }} {{ set.name }}
		</a>
		<div *ngIf="urlToDelete == set.url">
			<div class="button-group">
				<i class="fa fa-check delete-yes" (click)="onYesButtonClick()"></i>
				<i class="fa fa-x delete-no" (click)="onNoButtonClick()"></i>
			</div>
		</div>
		<div *ngIf="set.isOwn && urlToDelete != set.url">
			<div class="button-group">
				<i class="fa fa-pen-to-square edit-button" (click)="onEditButtonClick(set.url)"></i>
				<i class="fa fa-trash-can delete-button" (click)="onDeleteButtonClick(set.url)"></i>
			</div>
		</div>
	</div>
</div>

