.set-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid var(--muted-teal);
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    width: 80%;
    margin-left: 8%;
    background-color: var(--pastel-mint);
}


.set-link {
    text-decoration: none;
    margin-right: 10px;
    color: var(--muted-teal);
    font-size: clamp(14px, 2vw, 24px);
}

.button-group {
    display: flex;
}

.edit-button,
.delete-button {
    padding: 4px 4px;
    margin-left: 5px;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.edit-button {
    background-color: green;
}

.delete-button {
    background-color: #ea6161;
}

.edit-button:hover,
.delete-button:hover {
    filter: brightness(1.2);
}

.button-group {
    display: flex;
    justify-content: flex-end;
}

.delete-yes,
.delete-no {
    padding: 4px 4px;
    margin-left: 5px;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete-yes {
    background-color: #ea6161;
    color: #fff;
}

.delete-no {
    background-color: #28a745;
    color: #fff;
}

.delete-yes:hover,
.delete-no:hover {
    filter: brightness(1.2);
}

input {
    border: 2px solid var(--medium-mint);
    height: 20px;
    margin-bottom: 5%;
}

#header {
    font-size: clamp(14px, 2vw, 24px);
    color: var(--soft-ivory);
    margin-bottom: 5%;
}

#container {
    height: 60%;
    overflow: scroll;
}