.set-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid var(--muted-teal);
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    margin-left: 1%;
    width: 60%;
    background-color: var(--medium-mint);
}


.set-link {
    text-decoration: none;
    margin-right: 10px;
    color: var(--soft-ivory);
    font-size: clamp(14px, 2vw, 24px);
}

.button-group {
    display: flex;
}

.edit-button,
.delete-button {
    padding: 8px 12px;
    margin-left: 5px;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.edit-button {
    background-color: green;
}

.delete-button {
    background-color: #ea6161;
}

.edit-button:hover,
.delete-button:hover {
    filter: brightness(1.2);
}

.delete-prompt {
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    width: 400px;
}

.delete-prompt p {
    margin: 0;
    color: #721c24;
}

.button-group {
    display: flex;
    justify-content: flex-end;
}

.delete-yes,
.delete-no {
    padding: 8px 12px;
    margin-left: 5px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete-yes {
    background-color: #ea6161;
    color: #fff;
}

.delete-no {
    background-color: #28a745;
    color: #fff;
}

.delete-yes:hover,
.delete-no:hover {
    filter: brightness(1.2);
}


#container {
    min-height: 600px;
}

.header {
    font-size: clamp(20px, 1vw, 36px);
}

p {
    color: var(--soft-ivory);
}

input {
    border: 2px solid var(--medium-mint);
    height: 20px;
}