<div class="filter">
    <label>Filter: </label>
    <input (input)="onWordsFilterChange()" id="wordsFilter" type="text" [formControl]="wordsFilter" style="width: 128px">
</div>

<div class="card-grid">
    <div class="card" *ngFor="let word of words">
        <i class="fas fa-trash remove-icon" (click)="removeWord(word)"></i>
        <div class="card-item"><strong>{{ word.question }}</strong></div>
        <div class="card-item">{{ word.phonetic }}</div>
        <div class="card-item"><strong>{{ word.correct }}</strong></div>
    </div>
</div>
