
<div class="base-content">
    <!-- if logged in -->
    <div class="navbar" *ngIf="username != null; else anonymousBlock">
        <span class="username">{{ username }}</span>
        <a routerLink="/" class="nav-link">Home</a>
	    <a routerLink="/collection" class="nav-link">Collection</a>
        <a routerLink="/create" class="nav-link">Create</a>
        <a routerLink="/logout" class="nav-link">Logout</a>
    </div>

    <!-- if logged out -->
    <ng-template #anonymousBlock>
        <div class="navbar">
            <a routerLink="/" class="nav-link">Home</a>
            <a routerLink="/login" class="nav-link">Login</a>
            <a routerLink="/register" class="nav-link">Register</a>
        </div>
    </ng-template>
</div>
