<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<div class="base-content">
    <!-- if logged in -->
    <div class="navbar" *ngIf="username != null; else anonymousBlock">
	    <a routerLink="/user/{{username}}">{{ username }}</a>
        <a routerLink="/" class="nav-link">Home</a>
	    <a routerLink="/collection" class="nav-link">Collection</a>
        <a routerLink="/create" class="nav-link">Create</a>
        <a routerLink="/logout" class="nav-link">Logout</a>
    </div>

    <!-- if logged out -->
    <ng-template #anonymousBlock>
        <div class="navbar">
            <a routerLink="/" class="nav-link">Home</a>
            <a routerLink="/login" class="nav-link">Login</a>
            <a routerLink="/register" class="nav-link">Register</a>
        </div>
    </ng-template>
</div>
