<div id="container">
	<h3 title="{{ set.firstLanguage}}, {{ set.secondLanguage }}">{{ FLAGS[set.firstLanguage] }} {{ FLAGS[set.secondLanguage] }} {{ set.name }}</h3>
	<p>URL: /{{ set.url }}</p>
	<p>Description: {{ set.description }}</p>
	<p>Valid words: {{ set.words.length }}</p>
	<p>{{ feedback }}</p>

	<div class="table-container">
		<table>
			<tr>
				<th>First</th>
				<th>Phonetic</th>
				<th>Second</th>
			</tr>

			<tr *ngFor="let word of set.words">
				<td>{{ word.question }}</td>
				<td>{{ word.phonetic }}</td>
				<td>{{ word.correct }}</td>
			</tr>
		</table>
	</div>

	<div id="bottom-panel">
		<i id="left-arrow" class="fas fa-arrow-left" (click)="onGoBack.emit()"></i>
		<button *ngIf="!set.isOwn" (click)="onCreate()">Create</button>
		<button *ngIf="set.isOwn" (click)="onEdit()">Edit</button>
	</div>
</div>