<div class="container" *ngIf="hideEnd && !showSettings">
	<div class="top-panel">
		<button class="back-button" (click)="goBack()">
			<i class="fas fa-arrow-left"> </i>
		</button>
		<div class="top-buttons">
			<button (click)="SpeechUtils.toggleMute()">
				<i class="fas fa-volume-up" *ngIf="!SpeechUtils.isMuted"></i>
				<i class="fas fa-volume-off" *ngIf="SpeechUtils.isMuted"></i>
			</button>
			<button (click)="showSettings = !showSettings">
				<i class="fas fa-cog"></i>
			</button>
		</div>
	</div>

	<div id="stats-container">
		<i id="flame" class="fas fa-fire">     {{ streak }}</i>
		<i id="counter" class="fas fa-atlas">     {{ index + 1 }}/{{ words.length }}</i>
		<i id="score" class="fas fa-trophy">     {{ score }}</i>
		<i id="lives" class="fas fa-heart">     {{ lives }}</i>
	</div>

	<div class="buttons">
		<div class="question">
			<button (click)="speakQuestion()">{{ current.question }}</button>
		</div>
		<p id="phonetic" *ngIf="localStorage.getItem('showPhonetic') != 'false'">{{  current.phonetic }}</p>
		<button [ngStyle]="{'background-color': buttonColors[0]}" (click)="checkAnswer(0)">{{ current.answers[0] }}</button>
		<button [ngStyle]="{'background-color': buttonColors[1]}" (click)="checkAnswer(1)">{{ current.answers[1] }}</button>
		<button [ngStyle]="{'background-color': buttonColors[2]}" (click)="checkAnswer(2)">{{ current.answers[2] }}</button>
	</div>
</div>

<app-game-settings *ngIf="showSettings" [words]="words" (closeSettings)="showSettings = false"></app-game-settings>


<!--  END SCREEN -->
<div id="end" class="container end-container" [hidden]="hideEnd">
	<div class="top-panel">
		<button class="back-button" (click)="goBack()">
			<i class="fas fa-arrow-left"> </i>
		</button>
		<div class="top-buttons">
			<button id="mute-button2" >
				<i class="fas fa-volume-up"></i>
			</button>
			<button id="settings-button2" >
				<i class="fas fa-cog"></i>
			</button>
		</div>
	</div>
		<p>Final score: {{ score }}</p>
		<p>{{correctAnswers}}/{{ words.length }} ({{ Math.floor(correctAnswers / (words.length / 100)) }}%)</p>
		<button (click)="replay()">Restart</button>
	    <div id="flex-container">
		    <div id="wrong-word" *ngFor="let word of wrong" (click)="speakQuestion()">

			    <p id="end-question">{{ word.question }}</p>
			    <p id="end-phonetic">{{ word.phonetic }}</p>
			    <strong>{{ word.correct }}</strong>
		    </div>
	    </div>
</div>
