.buttons {
    text-align: center;
    font-size: 60px;
    padding: 40px;
}

.xd[hidden],
.buttons[hidden] {
    display: none;
}

.container {
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 300px;
    max-width: 1000px;


    width: 60%;
}

.buttons button {
    margin: 10px;

    background-color: #169716;
    color: white;
    cursor: pointer;
    border: none;


    height: 20%;
    min-width: 100px;
    min-height: 50px;

    font-size: clamp(14px, 2vw, 20px);

    width: max-content !important;
}

.buttons button:hover {
    background-color: #006400;
}

.question button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    color: black;

    font-size: clamp(28px, 4vw, 120px);
}

.question button:hover {
    background-color: #fbfafa;
}

.top-panel {
    width: 100%;

    display: flex;
    justify-content: space-between;
}

#counter {
    margin-left: 1%;
    margin-top: 1%;
    font-size: clamp(20px, 2vw, 28px);
}

i {
    color: white;
    font-size: clamp(20px, 2vw, 28px);
}
.top-buttons button {
    border: none;
    width: 50px;
    height: 50px;
}

#score {
    margin-left: 1%;
    margin-top: 1%;
    font-size: clamp(20px, 2vw, 28px);

    color: #64757e;
}

#phonetic {
    font-size: clamp(7px, 2vw, 20px);
}

#flame {
    color: orange;
}

#hearts {
    scale: 4;
    padding-right: 5px;
    display: inline-block;
}


#streak-container {
    display: flex;
}

#xd {
    color: red;
}

.back-button {
    border: none;
    width: 50px;
    height: 50px;
}

#stats-container {
    display: flex;
    justify-content: center;
}

#heart-container {
    margin-left: 10%;
}

.end-container {
    width: 40%;
}

#end-phonetic {
    font-style: italic;
}

#end-question {
    font-size: clamp(14px, 1vw, 24px);
}

#wrong-word {
    background-color: #eae7e7;
    padding: 5px;
    height: 140px;
    width: 140px;
    text-align: center;
}

#flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;

    margin-left: 15%;
    margin-bottom: 10%;

    overflow: scroll;
}