<div class="container" [hidden]="!hideEnd">
	<div id="top-panel">
		<button id="back-button" (click)="goBack()">
			<i class="fas fa-arrow-left"> </i>
		</button>
		<p id="counter">{{ index + 1 }}/{{ words.length }}</p>
		<p id="score">{{ score }}</p>
		<div id="top-buttons">
			<button id="mute-button" >
				<i class="fas fa-volume-up"></i>
			</button>
			<button id="settings-button" >
				<i class="fas fa-cog"></i>
			</button>
		</div>
	</div>

	<div id="stats-container">
		<div id="streak-container">
			<i class="fas fa-fire" id="flame">{{ streak }}</i>
		</div>
		<div id="heart-container">
			<i class="fas fa-heart" id="xd">{{ lives }}</i>
		</div>
	</div>

	<div class="buttons">
		<div class="question">
			<button (click)="SpeechUtils.speak(current.question)">{{ current.question }}</button>
		</div>
		<p id="phonetic">{{  current.phonetic }}</p>
		<button (click)="checkAnswer(current.answers[0])">{{ current.answers[0] }}</button>
		<button (click)="checkAnswer(current.answers[1])">{{ current.answers[1] }}</button>
		<button (click)="checkAnswer(current.answers[2])">{{ current.answers[2] }}</button>
	</div>
</div>

<!--  END SCREEN -->
<div class="end" [hidden]="hideEnd">
	<h1>Final score: {{ score }}</h1>
	<h3>{{correctAnswers}}/{{ words.length }} ({{ Math.floor(correctAnswers / (words.length / 100)) }}%)</h3>
	<button (click)="replay()">Restart</button>
	<div *ngFor="let word of wrong">
		<p><button (click)="SpeechUtils.speak(word.question)">{{ word.question }}</button> ({{ word.phonetic }}) - {{ word.correct }}</p>
	</div>
</div>