.buttons {
    text-align: center;
    padding: 40px;
}

.buttons button {
    margin: 10px;
    background-color: var(--soft-ivory);
    color: var(--muted-teal);
    cursor: pointer;
    height: 20%;
    min-width: 100px;
    min-height: 50px;
    font-size: clamp(14px, 2vw, 20px);
    width: max-content !important;
    border: 2px solid var(--muted-teal);
}

.buttons button:hover {
    background-color: var(--pastel-mint);
}

.question button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    color: var(--soft-ivory);
    font-size: clamp(28px, 4vw, 60px);
}

.question button:hover {
    background-color: var(--medium-mint);
}

.top-panel {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

i {
    color: var(--soft-ivory);
    font-size: clamp(20px, 2vw, 28px);
}

.top-buttons button {
    width: 50px;
    height: 50px;
    background-color: var(--medium-mint);
    border: none;
}

#phonetic {
    font-size: clamp(14px, 2vw, 20px);
    color: var(--soft-ivory);
}

#lives, #flame {
    color: var(--soft-ivory);
}

.back-button {
    border: none;
    width: 50px;
    height: 50px;
    background-color: var(--medium-mint);
}

#stats-container {
    display: flex;
    justify-content: center;
}

#heart-container {
    margin-left: 10%;
}

.end-container {
    width: 40%;
}

#end-phonetic {
    font-style: italic;
}

#end-question {
    font-size: clamp(14px, 1vw, 24px);
}

#wrong-word {
    background-color: #eae7e7;
    padding: 5px;
    height: 140px;
    width: 140px;
    text-align: center;
}

#flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-left: 15%;
    margin-bottom: 10%;
    overflow: scroll;
}

#bottom-panel {
    border: 2px solid pink;
    height: 2%;
}

#counter, #score, #lives {
    margin-left: 10%;
}