<div class="container" *ngIf="!showEnd && !showSettings">
	<div id="top-panel-container">
		<app-top-panel (onGoBack)="this.onGoBack.emit()" (settingsEmitter)="showSettings = true"></app-top-panel>
	</div>

	<div id="stats-container">
		<i id="flame" class="fas fa-fire">     {{ streak }}</i>
		<i id="counter" class="fas fa-atlas">     {{ index + 1 }}/{{ words.length }}</i>
		<i id="score" class="fas fa-star">     {{ score }}</i>
		<i id="lives" class="fas fa-heart">     {{ lives }}</i>
	</div>

	<div id="question">
		<button (click)="speakQuestion()">{{ words[index].question }}</button>
	</div>
	<p id="phonetic" [style.visibility]="(localStorage.getItem('showPhonetic') != 'false' && !isFlipped) ? 'visible' : 'hidden'">{{  words[index].phonetic }}</p>
	<input id="answer" [formControl]="writtenAnswer" (keydown.enter)="checkWrittenAnswer()" autofocus>
</div>

<app-game-settings *ngIf="showSettings" [words]="words" (onGoBack)="showSettings = false"></app-game-settings>