#stats-container {
    margin-top: 10%;
    display: flex;
    justify-content: center;
}

i {
    color: var(--soft-ivory);
    font-size: clamp(20px, 2vw, 28px);
}

#counter, #score, #lives {
    margin-left: 8%;
}

input {
    border: 2px solid var(--muted-teal);
    width: 40%;
    height: 40px;
    font-size: clamp(20px, 2vw, 28px);
    background-color: var(--soft-ivory);
    outline: none;
}

#question button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    color: var(--soft-ivory);
    font-size: clamp(34px, 6vw, 52px);
}

#question button:hover {
    background-color: var(--medium-mint);
}

#phonetic {
    font-size: clamp(14px, 2vw, 20px);
    color: var(--soft-ivory);
}

#question {
    margin-top: 10%;
}

#answer {
    margin-bottom: 10%;
}
