<div class="container">
	<div id="top-panel-container">
		<app-top-panel (onGoBack)="onGoBack.emit()"></app-top-panel>
	</div>

	<div id="stats-container">
		<i id="flame" class="fas fa-fire">     {{ streak }}</i>
		<i id="counter" class="fas fa-atlas">     {{ index + 1 }}/{{ words.length }}</i>
		<i id="score" class="fas fa-star">     {{ score }}</i>
		<i id="lives" class="fas fa-heart">     {{ lives }}</i>
	</div>
	<div id="canvas-container">
		<p id="phonetic">{{ this.words[this.index].phonetic }}</p>
		<p id="correct">{{ this.words[this.index].correct }}</p>
		<canvas id="canvas" width="200" height="200"></canvas>
		<canvas id="testingCanvas" width="200" height="200" hidden="hidden"></canvas> <!-- hidden canvas for checking-->

		<div id="button-container">
			<i class="fa fa-eraser" (click)="resetCanvas()"></i>
			<i class="fa fa-check" (click)="checkDrawing()"></i>
			<i class="fa fa-headphones" (click)="SpeechUtils.speak(this.words[this.index].question)"></i>
		</div>
	</div>
</div>