<app-base></app-base>
<body>
<form class="firstForm" [hidden]="(!firstPart)">
  <label for="name">Name:</label>
  <input (input)="onFirstInputChange()" id="name" type="text" [formControl]="name" placeholder="The name of the set" required maxlength="32"/>

  <label for="description">Description:</label>
  <textarea id="description" [formControl]="description" maxlength="256" placeholder="The description of the set            (not required)"></textarea>

  <label for="url">URL:</label>
  <input (input)="onFirstInputChange()" id="url" type="text" [formControl]="url" maxlength="16" placeholder="The URL of the set" required/>

  <label for="firstLanguage">First language:</label>
	<select id="firstLanguage" [formControl]="firstLanguage" (change)="onFirstInputChange()">
		<option *ngFor="let language of languages" [value]="language">{{language}}</option>
	</select>

  <label for="secondLanguage">Second language:</label>
	<select id="secondLanguage" [formControl]="secondLanguage" (change)="onFirstInputChange()">
		<option *ngFor="let language of languages" [value]="language">{{language}}</option>
	</select>

	<button (click)="onContinue()">Continue</button>
	<p id="feedback">{{ firstFeedback }}</p>
</form>

<div class="vocabulary-form" [hidden]="(firstPart)">
	<div class="title">
		<h3>{{ name.getRawValue() }} {{FLAGS[firstLanguage.getRawValue()]}} {{ FLAGS[secondLanguage.getRawValue()]}}</h3>
	</div>
	<div class="container">
		<div class="text-area">
			<div>
				<label for="delimiter">Delimiter</label>
				<input (input)="onInputChange()" id=delimiter type="text" [formControl]="delimiter" required size="1" [defaultValue]="';'" style="width: 40px">
			</div>

			<textarea (input)="onInputChange()"  [(ngModel)]="content" type="text" class="input" [formControl]="vocab" id="textarea" required></textarea>
			<input type="file" (change)="onFileSelected($event)" />
		</div>

		<div class="relevant-vocabulary">
			<div class="filter">
				<label for="filter">Filter: </label>
				<input (input)="onFilterChange()" id="filter" type="text" [formControl]="filter" style="width: 128px">
			</div>
			<table border="1" id="table-relevant">
				<tr>
					<th>First language</th>
					<th>Phonetic</th>
					<th>Second language</th>
					<th>Action</th>
				</tr>

				<tr *ngFor="let word of filteredRelevantWords">
					<td>{{ word.question }}</td>
					<td>{{ word.phonetic }}</td>
					<td>{{ word.correct }}</td>
					<td><button (click)="addWord(word)">Add</button></td>
				</tr>
			</table>
		</div>


		<div class="table-container">
			<p>Valid words: {{ counter }}</p>
			<table border="1" id="table">
				<tr>
					<th>First language</th>
					<th>Phonetic</th>
					<th>Second language</th>
					<th>Action</th>
				</tr>

				<tr *ngFor="let word of words">
					<td>{{ word.question }}</td>
					<td>{{ word.phonetic }}</td>
					<td>{{ word.correct }}</td>
					<td><button (click)="removeWord(word)" style="background-color: #ea6161">Remove</button></td>
				</tr>
			</table>
		</div>
	</div>
	<div class="buttons">
		<button (click)="goBack()">Go back</button>
		<button (click)="onSend()">Create</button>
	</div>
</div>

</body>
