/* Apply a simple reset to remove default styling */

form {
    width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Style labels */
label {
    display: block;
    margin-bottom: 5px;
}

/* Style labels */
label {
    display: block;
    margin-bottom: 5px;
}

/* Style text inputs and textareas */
input[type="text"],
textarea {
    width: calc(100% - 22px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* Style the select dropdowns */
select {
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid grey; /* Use your grey color */
    border-radius: 4px;
    background-color: #fff; /* Use your preferred background color */
    color: #333; /* Use your preferred text color */
}

/* Style the submit button if you have one */

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #006400; /* Tmavší odstín zelené při najetí myší */
}

/* Optional: Add some spacing between form elements */
br {
    margin-bottom: 15px;
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

/* Style table headers */
th {
    padding: 10px;
    text-align: left;
}


/* Style table cells */
td {
    padding: 10px;
}

/* Alternate row background color for better readability */
tr:nth-child(even) {
    background-color: #f2f2f2; /* Use your preferred background color */
}

.input{
    width: 600px;
    height: 400px;
    padding: 10px; /* Pro vytvoření mezery od okrajů */
}

.container {
    display: flex;
}

.container textarea {
    flex: 1;
    margin-right: 20px; /* Přizpůsobte podle potřeby */
    width: 50px;
}

textarea{
    height: 100px;
    resize: none; /* Disable resizing */
}

.table-container {
    height: 300px; /* Přizpůsobte výšku podle potřeby */
    overflow: auto;
}

#feedback {
    margin-top: 10px;
    font-style: italic;
    color: #666;
}