<app-base></app-base>
<div class="xd" [hidden]="hidden">
  <p>{{ index + 1 }}/{{ words.length }}     Score: {{ score }}</p>
  <p>Streak: {{ streak }}</p>
  <div class="hearts" *ngFor="let item of [].constructor(lives); let i = index">
    <img src="../../assets/srdce.png" alt="Lives">
  </div>
  <br><br>
  <p style="font-size: 20px">{{ feedback }}</p>
</div>

<div class="buttons" [hidden]="hidden">
  <p>{{ current.question }}</p>
  <p>{{ current.phonetic }}</p>
  <button (click)="checkAnswer(current.answers[0])">{{ current.answers[0] }}</button>
  <button (click)="checkAnswer(current.answers[1])">{{ current.answers[1] }}</button>
  <button (click)="checkAnswer(current.answers[2])">{{ current.answers[2] }}</button>
</div>

<div class="end" [hidden]="!hidden">
  <h1>Final score: {{ score }}</h1>
  <h3>{{correctAnswers}}/{{ words.length }} ({{ Math.floor(correctAnswers / (words.length / 100)) }}%)</h3>
  <button (click)="restart()">Restart</button>
  <div *ngFor="let word of wrong">
    <p><button (click)="speak(word.question)">{{ word.question }}</button> - {{ word.correct }}</p>
  </div>
</div>

<style>
  /* Obecné styly pro aplikaci */
  .app-base {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    color: black; /* Černá barva textu */
  }

  /* Styly pro skryté prvky */
  .xd[hidden],
  .buttons[hidden] {
    display: none;
  }

  /* Styly pro skóre a stav */
  .xd p:nth-of-type(2),
  .end h1,
  .score {
    font-size: 24px;
    font-weight: bold;
    color: green; /* Zelená barva pro skóre a stav */
  }


  /* Styly pro tlačítka */
  .buttons button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: green; /* Zelená barva pro tlačítka */
    color: white;
    border: none;
    cursor: pointer;
  }

  .buttons button:hover {
    background-color: #006400; /* Tmavší odstín zelené při najetí myší */
  }

  /* Styly pro konec */
  .end {
    margin-top: 20px;
  }

  .end h1 {
    font-size: 28px;
    font-weight: bold;
  }

  .end h3 {
    font-size: 18px;
  }

  .end button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #a9a9a9; /* Šedá barva pro tlačítko na konci */
    color: white;
    border: none;
    cursor: pointer;
  }

  .end button:hover {
    background-color: #808080; /* Tmavší odstín šedé při najetí myší */
  }

  .end div p {
    margin: 10px 0;
  }
</style>
