
	<div class="flashcard">
		<div class="top-panel">
			<button class="back-button" >
				<i class="fas fa-arrow-left"> </i>
			</button>
			<div class="top-buttons">
				<button (click)="SpeechUtils.toggleMute()">
					<i class="fas fa-volume-up" *ngIf="!SpeechUtils.isMuted"></i>
					<i class="fas fa-volume-off" *ngIf="SpeechUtils.isMuted"></i>
				</button>
				<button>
					<i class="fas fa-cog"></i>
				</button>
			</div>
		</div>
		<div class="front">
			<h2>{{ current.question }}</h2>
			<p>{{ current.phonetic }}</p>
		</div>
		<div class="back">
			<h2>{{ current.correct }}</h2>
		</div>
	</div>

	<div class="button-container">
		<button (click)="prevFlashcard()"><</button>
		<button (click)="nextFlashcard()">></button>
	</div>
