<div id="flashcard-container">
	<app-top-panel (emitter)="backEmitter.emit()"></app-top-panel>
	<div class="flashcard">
		<div class="front">
			<p id="question">{{ current.question }}</p>
			<p id="phonetic">{{ current.phonetic }}</p>
		</div>
		<div class="back">
			<p id="answer">{{ current.correct }}</p>
		</div>
	</div>
	<div id="bottom-panel">
		<i id="left-arrow" class="fas fa-arrow-left" (click)="prevFlashcard()"></i>
		<p id="counter">{{ currentIndex + 1 }}/{{ words.length }}</p>
		<i id="right-arrow" class="fas fa-arrow-right" (click)="nextFlashcard()"></i>
	</div>
</div>

