#flashcard-container {
    min-width: 200px;
    max-width: 400px;
    width: 60%;
    min-height: 300px;
    max-height: 500px;
    height: 50%;
    border: 4px solid var(--muted-teal);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flashcard p{
    font-size: 20px;
    margin-top: 10px;
}

#front,
#back {
    width: 100%;
    height: 80%;
    position: absolute;
    backface-visibility: hidden;
}

#front {
    background-color: var(--medium-mint);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: rotateY(0deg);
    transition: transform 0.5s;
}

#back {
    background-color: var(--soft-ivory);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
    transition: transform 0.5s;
}

#bottom-panel {
    width: 100%;
    background-color: var(--medium-mint);
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    align-items: center;
    border-top: 4px solid var(--muted-teal);
    height: 50px;
}

#left-arrow {
    margin-left: 10px;
}

#right-arrow {
    margin-right: 10px;
}

p {
    color: var(--soft-ivory);
}

#question, #answer {
    font-size: clamp(22px, 2vw, 36px);
}

#answer {
    color: var(--muted-teal);
}

#phonetic {
    font-size: clamp(18px, 2vw, 24px);
}

i {
    color: var(--soft-ivory);
    font-size: clamp(20px, 2vw, 28px);
}

#counter {
    color: var(--soft-ivory);
    font-size: clamp(18px, 2vw, 24px);
}
