<!-- SETTINGS -->
<div id="container">
	<div class="top-panel">
		<button class="back-button" (click)="onGoBack.emit()">
			<i class="fas fa-arrow-left"> </i>
		</button>
	</div>

	<p id="volume-text">Volume</p>
	<div id="volume">
		<div>
			<input id="volume-slider" type="range" min="0" max="100" [(ngModel)]="volume" (change)="onVolumeChange()">
			<p>{{ volume }}%</p>
		</div>
	</div>

	<p class="language-name">{{ language }}</p>
	<select [(ngModel)]="languageVoice" (change)="onLanguageVoiceChange()">
		<option *ngFor="let language of languageNames" [value]="language">{{ language }}</option>
	</select>
	<button (click)="testLanguageVoice()">Test</button>

	<p class="english-voice">English</p>
	<select [(ngModel)]="englishVoice" (change)="onEnglishVoiceChange()">
		<option *ngFor="let language of languageNames" [value]="language">{{ language }}</option>
	</select>
	<button (click)="testEnglishVoice()">Test</button>

	<div id="show-phonetic">
		Show Phonetic
		<label class="switch">
			<input type="checkbox" [(ngModel)]="showPhonetic" (change)="onShowPhoneticChange()">
			<span class="slider round"></span>
		</label>
	</div>
</div>
