<div class="container" *ngIf="!showSettings && !showFlashcards">
	<div id="top-panel-container">
		<app-top-panel [showMuteButton]="false" (onGoBack)="onGoBack.emit()" (settingsEmitter)="showSettings = !showSettings"></app-top-panel>
	</div>
	<div id="end">

		<div id="stats-container">
			<i>{{ correctCount }}/{{ this.words.length }} ({{ Math.floor((correctCount / this.words.length) * 100) }}%)</i>
			<i id="score" class="fas fa-star">     {{ score }}</i>
			<i id="high-score" class="fas fa-trophy">     {{ highScore }}</i>
		</div>
		<button (click)="onReplayAll.emit()">Repeat All</button>
		<button *ngIf="wrong.length != 0" (click)="onReplayWrong.emit()">Repeat wrong</button>
		<button (click)="showFlashcards = true">Show flashcards</button>
	</div>
</div>

<app-game-settings *ngIf="showSettings" [words]="words" (closeSettings)="showSettings = false"></app-game-settings>
<app-flashcards *ngIf="showFlashcards" [words]="wrong" (onGoBack)="showFlashcards = false"></app-flashcards>