<app-base></app-base>


<div class="form">
	<form [formGroup]="registerForm" (ngSubmit)="onRegister()">
	    <label for="username">Username:</label>
	    <input (input)="onInputChange()" id="username" type="text" formControlName="username" required>
		<label for="email">E-mail:</label>
		<input (input)="onInputChange()" id="email" type="email" formControlName="email" required>
		<label for="password">Password:</label>
	    <input (input)="onInputChange()" id=password type="password" formControlName="password" required>
	    <label for="password_again">Password again:</label>
	    <input (input)="onInputChange()" id=password_again type="password" formControlName="password_again" required>
		<input type="submit" value="Register">
	</form>
    <p id="feedback">{{ feedback }}</p>
</div>
