<!--  WRITE THE ANSWER -->
<div class="container" [hidden]="!hideEnd">
	<p>{{ index + 1 }}/{{ words.length }}     Score: {{ score }}</p>
	<p>Streak: {{ streak }}</p>
	<div title="Lives: {{ lives }}" class="hearts" *ngFor="let item of [].constructor(lives); let i = index">
		<img src="../../assets/srdce.png" alt="Lives">
	</div>
	<br><br>
	<strong style="font-size: 20px">{{ feedback }}</strong>
	<div title="{{ current.phonetic}}" class="question">
		<button (click)="SpeechUtils.speak(current.question)">{{ current.question }}</button>
	</div>
	<input [formControl]="writtenAnswer" (keydown.enter)="checkWrittenAnswer()">
</div>

<!--  END SCREEN -->
<div class="end" [hidden]="hideEnd">
	<h1>Final score: {{ score }}</h1>
	<h3>{{correctAnswers}}/{{ words.length }} ({{ Math.floor(correctAnswers / (words.length / 100)) }}%)</h3>
	<button (click)="replay()">Restart</button>
	<div *ngFor="let word of wrong">
		<p><button (click)="SpeechUtils.speak(word.question)">{{ word.question }}</button> ({{ word.phonetic }}) - {{ word.correct }}</p>
	</div>
</div>
