.flashcard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flashcard {
    width: 400px;
    height: 500px;
    perspective: 1000px;
    position: relative;
    margin-top: 100px;
    margin-bottom: 60px;
}

.flashcard p{
    font-size: 20px;
    margin-top: 10px;
}

.front,
.back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.front {
    background-color: #4CAF50;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: rotateY(0deg);
    transition: transform 0.5s;
}

.back {
    background-color: #dbe4e7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
    transition: transform 0.5s;
}

.flashcard:hover .front {
    transform: rotateY(-180deg);
}

.flashcard:hover .back {
    transform: rotateY(0deg);
}