/* https://colorhunt.co/palette/f9f8eba7d7c574b49b5c8d89 */
:root {
    --soft-ivory: #F9F8EB;
    --pastel-mint: #A7D7C5;
    --medium-mint: #74B49B;
    --muted-teal: #5C8D89;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--soft-ivory);
}

#top-panel-container {
    border-bottom: 4px solid var(--muted-teal);
}

#container {
    border-radius: 5px;
    background-color: var(--medium-mint);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 300px;
    max-width: 800px;
    width: 70%;
    height: 60%;
    border: 4px solid var(--muted-teal);
    text-align: center;
}

.form {
    padding: 20px;
    border: 4px solid var(--muted-teal);
    border-radius: 5px;
    background-color: var(--medium-mint);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

label {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    color: var(--soft-ivory);
    font-weight: bold
}

input, select, textarea {
    width: calc(100% - 22px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid var(--muted-teal);
    border-radius: 4px;
    background-color: var(--pastel-mint);
}


input[type=submit], button {
    width: calc(100% - 5px);
    padding: 8px;
    background-color: var(--muted-teal);
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    border: 1px solid var(--muted-teal);
    font-weight: bold;
    color: var(--soft-ivory);
}

input[type=submit]:hover, button:hover {
    color: var(--muted-teal);
    background-color: var(--soft-ivory);
}

p {
    color: var(--soft-ivory);
}

i {
    color: var(--soft-ivory);
    font-size: clamp(20px, 2vw, 28px);
}
