/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--sand-beige);
}

/* https://colorhunt.co/palette/1a4d2e4f6f52e8dfcaf5efe6 */
:root {
    --forest-green: #1A4D2E;
    --sage-green: #4F6F52;
    --sand-beige: #E8DFCA;
    --ivory: #F5EFE6;
}