/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--sky-blue);
}

:root {
    --sky-blue: #79E0EE;
    --mint-green: #98EECC;
    --light-mint: #D0F5BE;
    --light-lemon: #FBFFDC;
}