<div id="container">
    <div class="language-grid">
        <button
            *ngFor="let cat of categories"
            [class.selected]="cat === selectedCategory"
            (click)="selectedCategory = cat;"
            class="language-button">
            <i class="fas fa-{{ cat.iconName }}"></i>
            <strong class="language-label">{{ cat.name }}</strong>
        </button>
    </div>

    <div id="bottom-panel">
        <button (click)="goNext()">Continue</button>
    </div>
</div>
