 <app-language-selection
        *ngIf="state == State.LANGUAGE_SELECTION"
        [languages]="languages"
        (onContinue)="state = state + 1;
        selectedLanguage = $event">
    </app-language-selection>

 <app-category-selection
     *ngIf="state == State.CATEGORY_SELECTION"
     [categories]="categories"
     (onContinue)="state = state + 1;
     selectedCategory = $event">
 </app-category-selection>

<div class="form" *ngIf="state == State.NAME_PAGE">
		<label for="name">Name</label>
		<input (input)="onInputChange()" id="name" type="text" [formControl]="name" placeholder="The name of the set" required maxlength="48"/>

		<label for="description">Description</label>
		<textarea (input)="onInputChange()" id="description" [formControl]="description" maxlength="256" placeholder="The description of the set (not required)"></textarea>

		<p id="feedback" [ngStyle]="{ 'visibility': isValid ? 'hidden' : 'visible' }">{{ feedback }}</p>
		<button (click)="onCreate()">Create</button>
</div>

<app-word-input
    *ngIf="state == State.WORD_INPUT"
    [relevantWords]="relevantWords"
    [language]="selectedLanguage"
    [words]="words"
    (onGoBack)="state = state - 1"
    (onContinue)="state = state + 1; words = $event"
    >
</app-word-input>
