<app-base></app-base>

<div class="spinner" [hidden]="!loading"></div>

<div id="container" [hidden]="!(mode == null && !loading)">
	<div id="top-panel">
		<div id="name-container">
			<i>{{ name }} {{ FLAGS[firstLanguage] }} {{ FLAGS[secondLanguage] }}</i>
		</div>
		<div id="rating-buttons">
			<p>{{ contributor }}</p>
			<div *ngIf="contributor != username">
				<i class="fa fa-bookmark" (click)="saveSet()" [style.color]="isSaved ? 'green' : '#F9F8EB'"></i>
				<i class="fa fa-thumbs-up"></i>
				<i class="fa fa-thumbs-down"></i>
			</div>
			<i class="fa fa-cog"></i>
		</div>
	</div>

	<div id="content-container">
		<div id="mode-buttons-container">
			<button (click)="selectedMode = null"><i class="fa fa-file">     Summary</i></button>
			<button (click)="selectedMode = Mode.OneOfThree"><i class="fa fa-bars">     One Of Three</i></button>
			<button (click)="selectedMode = Mode.WriteTheAnswer"><i class="fa fa-pen-nib">     Write The Answer</i></button>
			<button (click)="selectedMode = Mode.DrawCharacters"><i class="fa fa-brush">     Draw Characters</i></button>
			<button (click)="mode = Mode.Flashcards"><i class="fa fa-image">     Flashcards</i></button>
		</div>

		<div id="summary" *ngIf="selectedMode == null">
			<div>
				<p id="description">{{ description }}</p>
			</div>
			<div class="table-container">
				<table id="summary-table">
					<thead>
					<th (click)="Word.sortByFirst(this.tableWords)">First Language</th>
					<th (click)="Word.sortByPhonetic(this.tableWords)">Phonetic</th>
					<th (click)="Word.sortByAnswer(this.tableWords)">Second Language</th>
					<th (click)="Word.sortByAverageScore(this.tableWords)">Average Score</th>
					</thead>

					<tbody>
					<tr *ngFor="let word of tableWords">
						<td (click)="SpeechUtils.speak(word.question)">{{ word.question }}</td>
						<td (click)="SpeechUtils.speak(word.question)">{{ word.phonetic }}</td>
						<td (click)="SpeechUtils.speak(word.correct, true)">{{ word.correct }}</td>
						<td>{{ word.getAverageScore() }}</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div *ngIf="selectedMode != null">
			<app-vocab-table (onPlayClick)="mode = selectedMode" [mode]="selectedMode!" [words]="words"></app-vocab-table>
		</div>
	</div>
</div>

<app-one-of-three [words]=words [url]=url (onGoBack)="this.mode = null" *ngIf="mode == Mode.OneOfThree"></app-one-of-three>
<app-writetheanswer [words]=words [url]="url" (onGoBack)="this.mode = null" *ngIf="mode == Mode.WriteTheAnswer"></app-writetheanswer>
<app-flashcards [words]=words *ngIf="mode == Mode.Flashcards" (onGoBack)="this.mode = null"></app-flashcards>
<app-draw-characters [words]=characters [url]="url" *ngIf="mode == Mode.DrawCharacters" (onGoBack)="this.mode = null"></app-draw-characters>
