<app-base></app-base>

<div class="spinner" [hidden]="!loading"></div>

<div id="container" [hidden]="!(mode == null && !loading)" *ngIf="mode == null && !loading && !showSettings">
	<div id="top-panel">
		<div id="name-container">
			<i>{{ this.set.name }} {{ FLAGS[this.set.language] }}</i>
		</div>
		<div id="rating-buttons">
			<p>{{ this.set.contributor }}</p>
			<div *ngIf="this.set.contributor != username">
				<i class="fa fa-bookmark" (click)="saveSet()" [style.color]="isSaved ? 'green' : '#F9F8EB'"></i>
			</div>
			<i class="fa fa-cog" (click)="showSettings = true"></i>
		</div>
	</div>

	<div id="content-container">
		<div id="mode-buttons-container">
			<button (click)="selectedMode = null"><i class="fa fa-file">     Summary</i></button>
			<button (click)="selectedMode = Mode.OneOfThree" *ngIf="set.words.length >= 3"><i class="fa fa-bars">     One Of Three</i></button>
			<button (click)="selectedMode = Mode.WriteTheAnswer"><i class="fa fa-pen-nib">     Write The Answer</i></button>
			<button (click)="selectedMode = Mode.DrawCharacters" *ngIf="characters.length != 0"><i class="fa fa-brush">     Draw Characters</i></button>
			<button (click)="mode = Mode.Flashcards"><i class="fa fa-image">     Flashcards</i></button>
		</div>

		<div id="summary" *ngIf="selectedMode == null">
			<div>
				<p id="description">{{ this.set.description }}</p>
			</div>
			<div class="table-container">
				<table id="summary-table">
					<thead>
					<th (click)="Word.sortByFirst(this.tableWords)">Word</th>
					<th (click)="Word.sortByPhonetic(this.tableWords)">Phonetic</th>
					<th (click)="Word.sortByAnswer(this.tableWords)">Translation</th>
					<th (click)="Word.sortByAverageScore(this.tableWords)">Average Score</th>
					</thead>

					<tbody>
					<tr *ngFor="let word of tableWords">
						<td (click)="SpeechUtils.speak(word.question)">{{ word.question }}</td>
						<td (click)="SpeechUtils.speak(word.question)">{{ word.phonetic }}</td>
						<td (click)="SpeechUtils.speak(word.correct, true)">{{ word.correct }}</td>
						<td>{{ word.getAverageScore() }}</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div *ngIf="selectedMode != null">
			<div style="width: 100%;">
				<app-vocab-table (onPlayClick)="mode = selectedMode" [mode]="selectedMode!" [words]="set.words"></app-vocab-table>
			</div>
		</div>
	</div>
</div>

<app-game-settings *ngIf="showSettings" [words]="set.words" (onGoBack)="showSettings = false"></app-game-settings>

<app-one-of-three [words]=set.words [id]="id" (onGoBack)="onGoBack()" *ngIf="mode == Mode.OneOfThree"></app-one-of-three>
<app-writetheanswer [words]=set.words [id]="id" (onGoBack)="onGoBack()" *ngIf="mode == Mode.WriteTheAnswer"></app-writetheanswer>
<app-flashcards [words]=set.words *ngIf="mode == Mode.Flashcards" (onGoBack)="onGoBack()"></app-flashcards>
<app-draw-characters [words]=characters [id]="id" *ngIf="mode == Mode.DrawCharacters" (onGoBack)="onGoBack()"></app-draw-characters>
