.spinner {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top-color: #333;
  animation: spin 1s linear infinite;
  margin-top: 15%;
  margin-left: 43%;
  align-content: center;
  justify-content: space-between;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

#description {
  font-size: clamp(20px, 2vw, 28px);
}

#container {
    max-width: 1200px;
}

#mode-buttons-container {
    background-color: var(--medium-mint);
    height: 100%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    width: 20%;
    border-right: 4px solid var(--muted-teal);
}

#mode-buttons-container button{
    height: 5rem;
    font-size: clamp(8px, 1vw, 16px);
    border-top: 2px solid var(--muted-teal);
    border-left: 2px solid var(--muted-teal);
    border-bottom: 2px solid var(--muted-teal);
    background-color: var(--medium-mint);
}

#summary, #one-of-three, .mode-container {
    width: 80%;
    background-color: var(--medium-mint);
}

#content-container {
    display: flex;
}

i, p {
    color: var(--soft-ivory);
}

#description {
    font-size: clamp(10px, 2vw, 14px);
}


#rating-buttons i {
    font-size: clamp(20px, 2vw, 28px);
    height: clamp(20px, 2vw, 28px);
    margin-top: 12px;
    margin-right: 5px;
}


#rating-buttons {
    margin-right: 1%;
    justify-content: space-between;
    display: flex;
    gap: 10px;
}

#top-panel {
    justify-content: space-between;
    display: flex;
    align-items: center;
    border-bottom: 4px solid var(--muted-teal);
}

#name-container {
    margin-left: 1%;
    height: 100%;
    justify-content: space-between;
    display: flex;
    font-size: clamp(18px, 2vw, 28px);
}

.table-container {
    width: 100%;
    max-height: 320px;
    overflow: scroll;
}

#summary-table, #vocab-table {
    table-layout: auto;
    width: 100%;
    overflow: hidden;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#container {
    max-height: 600px;
}

thead, tbody {
    color: var(--soft-ivory);
    font-size: clamp(14px, 1vw, 20px);
}

thead {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--medium-mint);
}


td {
    border: 2px solid var(--muted-teal);
    width: 50px;
}

table tbody tr:nth-of-type(even) {
    background-color: var(--soft-ivory);
    color: var(--muted-teal);
}


