<app-base></app-base>

<div class="spinner" [hidden]="!loading"></div>

<div id="container" [hidden]="!(mode == null && !loading)" *ngIf="mode == null && !loading && !showSettings">
	<div id="top-panel">
		<div id="name-container">
			<i>{{ set.name }} {{ FLAGS[set.language] }}</i>
		</div>
		<div id="rating-buttons">
			<p>{{ set.contributor }}</p>
			<div *ngIf="set.isOwn">
				<i class="fa fa-bookmark" (click)="saveSet()" [style.color]="isSaved ? 'green' : '#F9F8EB'"></i>
			</div>
			<i class="fa fa-cog" (click)="showSettings = true"></i>
		</div>
	</div>

	<div id="content-container">
		<div id="mode-buttons-container">
			<button (click)="selectedMode = null"><i class="fa fa-file">     Summary</i></button>
			<button (click)="selectedMode = Mode.OneOfThree" *ngIf="set.words.length >= 3"><i class="fa fa-bars">     One Of Three</i></button>
			<button (click)="selectedMode = Mode.WriteTheAnswer"><i class="fa fa-pen-nib">     Write The Answer</i></button>
			<button (click)="selectedMode = Mode.DrawCharacters" *ngIf="characters.length != 0"><i class="fa fa-brush">     Draw Characters</i></button>
			<button (click)="mode = Mode.Flashcards"><i class="fa fa-image">     Flashcards</i></button>
		</div>
		<app-vocab-table (onPlayClick)="mode = selectedMode" [mode]="selectedMode!" [set]="set"></app-vocab-table>
	</div>
</div>

<app-game-settings *ngIf="showSettings" [words]="set.words" (onGoBack)="showSettings = false"></app-game-settings>

<app-one-of-three [words]=set.words [id]="id" (onGoBack)="onGoBack()" *ngIf="mode == Mode.OneOfThree"></app-one-of-three>
<app-writetheanswer [words]=set.words [id]="id" (onGoBack)="onGoBack()" *ngIf="mode == Mode.WriteTheAnswer"></app-writetheanswer>
<app-flashcards [words]=set.words *ngIf="mode == Mode.Flashcards" (onGoBack)="onGoBack()"></app-flashcards>
<app-draw-characters [words]=characters [id]="id" *ngIf="mode == Mode.DrawCharacters" (onGoBack)="onGoBack()"></app-draw-characters>
