.spinner {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top-color: #333;
  animation: spin 1s linear infinite;
  margin-top: 15%;
  margin-left: 43%;
  align-content: center;
  justify-content: space-between;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.end {
  text-align: center;
  font-size: 40px;
}

#container {
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 20px;
  background-color: #f9f9f9;
  text-align: center;

  height: 10%;
  width: 80%;
  max-width: 750px;
}

#container button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
}

#container button:hover {
  background-color: #006400;
}

.app-base {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  color: black;
}

th {
  padding: 10px;
  text-align: center;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

td {
  padding: 10px;
}

.table-container {
  height: 300px;
  overflow: auto;
  width: 90%;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button-container button {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.button:hover {
  background-color: #45a049;
}

.canvas-container{
  text-align: center;
}

canvas {
  border: 2px solid #000000;
}

.table-container {
  margin: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #45a049;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #d9d9d9;
}

td {
  border-bottom: 1px solid #ddd;
}

#top-panel {
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color: grey;
  height: 20px;
}

#description {
  font-size: clamp(7px, 2vw, 14px);
}