<p>register works!</p>
<p>{{ test }}</p>

  <label for="username">Username:</label>
  <input id="username" type="text" [formControl]="username" required>
  <br>
  <label for="password">Password:</label>
  <input id=password type="password" [formControl]="password" required>
  <br>
  <button (click)="onRegister()">Register</button>


<br>
<p>Přezdívka je: {{ username.value }}</p>
<p>Heslo je: {{ password.value }}</p>
<p>{{ xd }}</p>
<p>{{ d[0] }}</p>


<style>
  body{
    background-color: aliceblue;
  }
</style>
