body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #656262;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.username {
    margin-right: 10px;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    margin-right: 15px;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #5ebf52; /* Change to your desired hover color */
}